@import "./base.css";

#app {
  font-weight: normal;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  max-width: 330px;
  display: flex;
  flex-direction: column;
}

main {
  display: flow-root;
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

@media (min-width: 640px) {
  main {
    padding: 30px;
  }
}

@media (min-width: 960px) {
  main {
    padding: 40px;
  }
}
